$brown: #a87328;
$darkblue: #0c347d;
$umber: #54290c;
$springer: #eded80;

.bookshelf {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 10px $brown solid;
  overflow: hidden;
  background-image: linear-gradient(
    darken($brown, 32%),
    darken($brown, 30%) 220px,
    lighten($brown, 4%) 220px,
    lighten($brown, 4%) 222px,
    $brown 222px,
    $brown 228px,
    darken($brown, 4%) 228px,
    darken($brown, 4%) 230px
  );
  background-size: 15px 240px;
  //   box-shadow: 0px 1000px 0px 400px #7a7668;
}

.bookshelf-container {
  height: 100%;
  width: 200px;
}
